<div class='content'>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">O'quvchilar</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                O'rni
              </th>
              <th>
                F.I.SH
              </th>
              <th>
                Ball
              </th>
            </thead>
            <tbody>
              {% for i in son  %}
              <tr>
                <td>
                  {{i}}
                </td>
                <td>
                  Muhammadumar Soliyev
                </td>
                <td>
                  85
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>