{% load static %}



<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="{% url 'student_panel:dashboard' %}" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="{{ request.user.image.url }}">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <a href="{% url 'student_panel:dashboard' %}" class="simple-text logo-normal">
        {{request.user.username}}
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="{% if request.path == '/' %}active{% endif %}">
          <a href="{% url 'student_panel:dashboard' %}">
            <i class="fa-solid fa-house"></i>
            <p>Bosh sahifa</p>
          </a>
        </li>
        <li class="{% if request.path == '/kurslar/' or request.path == '/video/' %}active{% endif %}">
          <a href="{% url 'student_panel:kurslar' %}">
            <i class="fa-solid fa-layer-group"></i>
            <p>Kurslarim</p>
          </a>
        </li>
        <li class="{% if request.path == '/payments/' %}active{% endif %}">
          <a href="{% url 'student_panel:payments' %}">
            <i class="fa-solid fa-money-check"></i>
            <p>To'lovlarim</p>
          </a>
        </li>
        <li class="{% if request.path == '/reyting/' %}active{% endif %}">
          <a href="{% url 'student_panel:reyting' %}">
            <i class="fa-solid fa-star"></i>
            <p>Reyting</p>
          </a>
        </li>
        <li class="{% if request.path == '/message/' %}active{% endif %}">
          <a href="{% url 'student_panel:message' %}">
            <i class="fa-solid fa-message"></i>
            <p>Murojat</p>
          </a>
        </li>
        <li class="{% if request.path == '/profile/' %}active{% endif %}">
          <a href="{% url 'student_panel:profile' %}">
            <i class="fa-solid fa-user"></i>
            <p>Profilim</p>
          </a>
        </li>
      </ul>
    </div>
  </div>