


<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Kurslarim</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <th>
                        #
                    </th>
                    <th>
                        Kurs nomi
                    </th>
                    <th>
                        Yo'nalishi
                    </th>
                    <th>
                        O'quvchilar soni
                    </th>
                    <th>
                        Dars kunlari
                    </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                        Backend Python Django (Standard) 
                    </td>
                    <td>
                        Dasturlash
                    </td>
                    <td>
                        16
                    </td>
                    <td>
                        Du-Chor-Ju  08:00 - 10:00
                    </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    