


<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Kurslarim</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <th>
                        #
                    </th>
                    <th>
                        Kurs nomi
                    </th>
                    <th>
                        Yo'nalishi
                    </th>
                    <th>
                        O'quvchilar soni
                    </th>
                    <th>
                        Dars kunlari
                    </th>
                    <th>
                        Dars vaqti
                    </th>
                </thead>
                <tbody>

                {% for cours in courses %}
                	<tr>

                      {% for key,value in tr.items %}
                      	{% if cours.id == key %}
                      		<td>
                            {{ value }}
                          </td>
                      	{% endif %}
                      {% endfor %}

                      <td>
                        <a href="{% url 'teacher_panel:lesson' cours.id %}">
                          {{ cours.name }}
                        </a>
                      </td>
                      <td>
                          {{ cours.category.name }}
                      </td>
                      <td>
                          {{ cours.students.count }}
                      </td>
                      <td>
                          {{ cours.lesson_day }}
                      </td>
                    <td>
                          {{ cours.lesson_time }}
                      </td>
                </tr>
                {% endfor %}


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    