<div class="content">

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary ml-2">Darslar</button>
      <button type="button" class="btn btn-primary ml-2">Vazifalar</button>
      <button type="button" class="btn btn-outline-primary ml-2"><i class="fa fa-plus"></i> dars qo'shish</button>
    </div>
    <div class="row">
    <div class="col-6 ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Vazifalar</h4>
          </div>

            <div class="pl-4 pb-4 pr-2">
              <label for="exampleFormControlInput1" class="form-label">O'quvchi</label>
              <input type="text" class="form-control" value="Sotvoldiyev Asadbek" disabled>
            </div>
            <div class="pl-4 pb-4 pr-2">
              <label for="exampleFormControlInput1" class="form-label">Vazifa fayli</label>
                <br>
                <a href="#" class="btn btn-outline-danger"> 1-dars vazifasi</a>
            </div>
            <div class="pl-4 pb-4 pr-2">
              <label for="exampleFormControlTextarea1" class="form-label">Izoh</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled>   Vazifani yuklab qo'ydim</textarea>
            </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Javob yozish</h4>
          </div>

            <div class="pl-4 pb-4 pr-2">
              <label for="exampleFormControlInput1" class="form-label">Izoh</label>
                <textarea type="text" class="form-control" > </textarea>
            </div>
            <div class="pl-4 pb-4 pr-2">
                 <div>
                    <label for="file">Qo'shimcha faylni qiling</label>
                    <input type="file" id="file" name="file" multiple  class="btn btn-outline-primary" value="tanlash"/>
                 </div>
            </div>
            <div class="pl-4 pb-4 pr-2">
              <label for="exampleFormControlTextarea1" class="form-label">Izoh</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">   </textarea>
            </div>
        </div>
      </div>
    </div>
        </div>


</div>