<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">O'qituvchilar</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Ismi
                      </th>
                      <th>
                        Familiyasi
                      </th>
                      <th>
                        Telefon raqami
                      </th>
                      <th>
                        Jinsi
                      </th>
                      <th>
                        Tug'ilgan sana
                      </th>
                      <th class="text-right">
                        Amallar
                      </th>
                    </thead>
                    <tbody>
                      {% for teacher in teachers %}
                      	    <tr>
                        <td>
                          {{ teacher.first_name }}
                        </td>
                        <td>
                            {{ teacher.last_name }}
                        </td>
                        <td>
                          {{ teacher.phone }}
                        </td>
                        <td>
                          {{ teacher.gender }}
                        </td>
                        <td>
                          {{ teacher.birthday }}
                        </td>
                        <td class="text-right amal">
                          <i class="fa-solid fa-square-pen update"></i>
                          <i class="fa-solid fa-trash delete"></i>
                        </td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>